<launch>
    <!-- runtime configuration -->
    <arg name="run_rviz"              default="false"/>
    <arg name="run_slam"         default="true"/>
    <arg name="run_reconfigure"       default="false"/>

    <arg name="bagfile_path_A" default="/home/prashant/Downloads/rgbd_dataset_freiburg3_long_office_household.bag"/>
    <arg name="bagfile_path_B" default="/home/prashant/Downloads/20190222_002_bag_filtered.bag"/>
    <arg name="bagfile_path" default="$(arg bagfile_path_B)"/>
    <arg name="bagfile_playback_rate" default="1.0"/>

    <!-- namespaces -->
    <arg name="camera" default="camera"/>
    
    <!-- TF frames -->
    <arg name="tf_base_link_frame_id"     default="base_link"/>
    <arg name="tf_camera_parent_frame_id" default="world"/>
        
    <arg name="node_start_delay" default="3.0" />  
    <arg name="debug" default="false" />
    <arg name="launch_prefix" value="bash -c 'sleep $(arg node_start_delay); $0 $@' " />
    <!--<arg name="launch_prefix" value="xterm -e gdb -args" if="$(arg debug)" />
    <arg name="launch_prefix" value="" unless="$(arg debug)" />-->

    <!-- Freiburg data -->
    <group ns="dvo_vis">
        <node launch-prefix="$(arg launch_prefix)" pkg="dvo_ros" type="camera_tracker" name="camera_tracker" output="screen">
            <remap from="/camera/depth_registered/input_image" to="/camera/depth/image"/>
            <remap from="/camera/depth_registered/camera_info" to="/camera/depth/camera_info"/>
            <remap from="/camera/rgb/input_image" to="/camera/rgb/image_color"/>
            <remap from="/camera/rgb/camera_info" to="/camera/rgb/camera_info"/>
        </node>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="origin_to_world"  
          args="0.0 0.0 0.0 0 0 0 1 global $(arg tf_base_link_frame_id)"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="origin_to_camera_parent"  
          args="0.0 0.0 0.5 0.5 -0.5 0.5 -0.5 $(arg tf_base_link_frame_id) $(arg tf_camera_parent_frame_id)"/>  

    <!-- RVIZ SECTION -->
    <!--<group unless="$(arg backend_only)">-->
    <arg name="rviz_config_file" default="dvo_slam.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" output="screen" 
          args="-d $(find dvo_slam)/rviz/$(arg rviz_config_file)" if="$(arg run_rviz)"/>
    <!--</group>-->

    <!-- DYNAMIC RECONFIGURE SECTION -->
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="screen" if="$(arg run_reconfigure)"/> 
    
    <param name="use_sim_time" value="true" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="-r $(arg bagfile_playback_rate) --clock --keep-alive $(arg bagfile_path)"/>
</launch>
